# Goal
In this notebook, we will reformat the data contained in `MNCAATourneyCompactResults.csv` to better match the required submission format.

## Imports

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/Conferences.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MMasseyOrdinals_thruDay128.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MNCAATourneySeedRoundSlots.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MRegularSeasonDetailedResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MNCAATourneyCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MGameCities.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MSampleSubmissionStage2.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MSeasons.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MSecondaryTourneyTeams.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/Cities.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MTeamSpellings.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MRegularSeasonCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MSecondaryTourneyCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MNCAATourneySlots.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MNCAATourneySeeds.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MTeamCoaches.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MConferenceTourneyGames.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MNCAATourneyDetailedResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MTeamConferences.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage2/MTeams.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/Conferences.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneySeedRoundSlots.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MRegularSeasonDetailedResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneyCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MGameCities.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MSeasons.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MSecondaryTourneyTeams.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/Cities.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MTeamSpellings.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MRegularSeasonCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MMasseyOrdinals.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MSecondaryTourneyCompactResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneySlots.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneySeeds.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MTeamCoaches.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MConferenceTourneyGames.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneyDetailedResults.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MSampleSubmissionStage1.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MTeamConferences.csv
/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MTeams.csv

## Read in the data

In [2]:
df = pd.read_csv('/kaggle/input/mens-march-mania-2022/MDataFiles_Stage1/MNCAATourneyCompactResults.csv')
df.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

## Making a sample row

In [3]:
row = df.iloc[0]
row

Season     1985
DayNum      136
WTeamID    1116
WScore       63
LTeamID    1234
LScore       54
WLoc          N
NumOT         0
Name: 0, dtype: object

## Row parser

In [4]:
def parse_row(row):
    season = row['Season']
    winning_team_id = row['WTeamID']
    losing_team_id = row['LTeamID']
    if winning_team_id < losing_team_id:
        small_id = winning_team_id
        big_id = losing_team_id
        outcome = 1
    elif losing_team_id < winning_team_id:
        small_id = losing_team_id
        big_id = winning_team_id
        outcome = 0
    record = {
        'Season': season,
        'LowID': small_id,
        'HighID': big_id,
        'Win': outcome
    }
    return record

parse_row(row)

{'Season': 1985, 'LowID': 1116, 'HighID': 1234, 'Win': 1}

## Data Frame Parser

In [5]:
def parse_dataframe(df):
    input_rows = df.to_records()
    output_rows = [parse_row(input_row) for input_row in input_rows]
    out_df = pd.DataFrame(output_rows)
    return out_df
    
parse_dataframe(df[:5])

   Season  LowID  HighID  Win
0    1985   1116    1234    1
1    1985   1120    1345    1
2    1985   1207    1250    1
3    1985   1229    1425    1
4    1985   1242    1325    1

## Make and Write Tournament Outcomes

In [6]:
outcomes = parse_dataframe(df)
outcomes.to_csv('/kaggle/working/tournament_outcomes.csv')