We made our predictions in phase2_submissions1.csv. Now let's back out what those submissions are in the bracket.

In [1]:
import pandas as pd

In [8]:
import os
os.listdir()

['4.0-theberling-bracket-predictions.ipynb',
 'submission.csv',
 'highest_scoring_bracket.ipynb',
 '.ipynb_checkpoints']

In [18]:
year = 2022

In [69]:
df_pred = pd.read_csv('submission.csv')
df_pred.head(20)

                ID      Pred
0   2017_1101_1102  0.529674
1   2017_1101_1103  0.529674
2   2017_1101_1104  0.529674
3   2017_1101_1105  0.529674
4   2017_1101_1106  0.529674
5   2017_1101_1107  0.529674
6   2017_1101_1108  0.529674
7   2017_1101_1110  0.529674
8   2017_1101_1111  0.529674
9   2017_1101_1112  0.613424
10  2017_1101_1113  0.529674
11  2017_1101_1114  0.529674
12  2017_1101_1115  0.529674
13  2017_1101_1116  0.529674
14  2017_1101_1117  0.529674
15  2017_1101_1119  0.529674
16  2017_1101_1120  0.529674
17  2017_1101_1122  0.529674
18  2017_1101_1123  0.529674
19  2017_1101_1124  0.543675

Excellent, now we have our submission file into a dataframe with ID and Predictions. From here we'll need to bring in the first round teams and see who we predict will win.

In [70]:
#read in the team data
df_teams_men = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/MTeams.csv')
#df_teams_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/WTeams.csv')
df_teams_men.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2022
1    1102    Air Force           1985          2022
2    1103        Akron           1985          2022
3    1104      Alabama           1985          2022
4    1105  Alabama A&M           2000          2022

In [71]:
#read in the tournament slot data
df_slots_men = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/MNCAATourneySlots.csv')
#df_slots_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness2023/data/raw/WNCAATourneySlots.csv')
df_slots_men.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [72]:
df_slots_thisyear_men = df_slots_men[df_slots_men['Season']==year]
df_slots_thisyear_men = df_slots_thisyear_men.reset_index(drop=True)
df_slots_thisyear_men.head(48)

    Season  Slot StrongSeed WeakSeed
0     2022  R1W1        W01      W16
1     2022  R1W2        W02      W15
2     2022  R1W3        W03      W14
3     2022  R1W4        W04      W13
4     2022  R1W5        W05      W12
5     2022  R1W6        W06      W11
6     2022  R1W7        W07      W10
7     2022  R1W8        W08      W09
8     2022  R1X1        X01      X16
9     2022  R1X2        X02      X15
10    2022  R1X3        X03      X14
11    2022  R1X4        X04      X13
12    2022  R1X5        X05      X12
13    2022  R1X6        X06      X11
14    2022  R1X7        X07      X10
15    2022  R1X8        X08      X09
16    2022  R1Y1        Y01      Y16
17    2022  R1Y2        Y02      Y15
18    2022  R1Y3        Y03      Y14
19    2022  R1Y4        Y04      Y13
20    2022  R1Y5        Y05      Y12
21    2022  R1Y6        Y06      Y11
22    2022  R1Y7        Y07      Y10
23    2022  R1Y8        Y08      Y09
24    2022  R1Z1        Z01      Z16
25    2022  R1Z2        Z02      Z15
26    2022  R1Z3        Z03      Z14
27    2022  R1Z4        Z04      Z13
28    2022  R1Z5        Z05      Z12
29    2022  R1Z6        Z06      Z11
30    2022  R1Z7        Z07      Z10
31    2022  R1Z8        Z08      Z09
32    2022  R2W1       R1W1     R1W8
33    2022  R2W2       R1W2     R1W7
34    2022  R2W3       R1W3     R1W6
35    2022  R2W4       R1W4     R1W5
36    2022  R2X1       R1X1     R1X8
37    2022  R2X2       R1X2     R1X7
38    2022  R2X3       R1X3     R1X6
39    2022  R2X4       R1X4     R1X5
40    2022  R2Y1       R1Y1     R1Y8
41    2022  R2Y2       R1Y2     R1Y7
42    2022  R2Y3       R1Y3     R1Y6
43    2022  R2Y4       R1Y4     R1Y5
44    2022  R2Z1       R1Z1     R1Z8
45    2022  R2Z2       R1Z2     R1Z7
46    2022  R2Z3       R1Z3     R1Z6
47    2022  R2Z4       R1Z4     R1Z5

In [73]:
#read in the tournament slot data
df_slots_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/MNCAATourneySlots.csv')
#df_slots_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness2023/data/raw/WNCAATourneySlots.csv')
df_slots_women.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [74]:
df_slots_thisyear_women = df_slots_women[df_slots_women['Season']==year]
df_slots_thisyear_women = df_slots_thisyear_women.reset_index(drop=True)
df_slots_thisyear_women.head(48)

    Season  Slot StrongSeed WeakSeed
0     2022  R1W1        W01      W16
1     2022  R1W2        W02      W15
2     2022  R1W3        W03      W14
3     2022  R1W4        W04      W13
4     2022  R1W5        W05      W12
5     2022  R1W6        W06      W11
6     2022  R1W7        W07      W10
7     2022  R1W8        W08      W09
8     2022  R1X1        X01      X16
9     2022  R1X2        X02      X15
10    2022  R1X3        X03      X14
11    2022  R1X4        X04      X13
12    2022  R1X5        X05      X12
13    2022  R1X6        X06      X11
14    2022  R1X7        X07      X10
15    2022  R1X8        X08      X09
16    2022  R1Y1        Y01      Y16
17    2022  R1Y2        Y02      Y15
18    2022  R1Y3        Y03      Y14
19    2022  R1Y4        Y04      Y13
20    2022  R1Y5        Y05      Y12
21    2022  R1Y6        Y06      Y11
22    2022  R1Y7        Y07      Y10
23    2022  R1Y8        Y08      Y09
24    2022  R1Z1        Z01      Z16
25    2022  R1Z2        Z02      Z15
26    2022  R1Z3        Z03      Z14
27    2022  R1Z4        Z04      Z13
28    2022  R1Z5        Z05      Z12
29    2022  R1Z6        Z06      Z11
30    2022  R1Z7        Z07      Z10
31    2022  R1Z8        Z08      Z09
32    2022  R2W1       R1W1     R1W8
33    2022  R2W2       R1W2     R1W7
34    2022  R2W3       R1W3     R1W6
35    2022  R2W4       R1W4     R1W5
36    2022  R2X1       R1X1     R1X8
37    2022  R2X2       R1X2     R1X7
38    2022  R2X3       R1X3     R1X6
39    2022  R2X4       R1X4     R1X5
40    2022  R2Y1       R1Y1     R1Y8
41    2022  R2Y2       R1Y2     R1Y7
42    2022  R2Y3       R1Y3     R1Y6
43    2022  R2Y4       R1Y4     R1Y5
44    2022  R2Z1       R1Z1     R1Z8
45    2022  R2Z2       R1Z2     R1Z7
46    2022  R2Z3       R1Z3     R1Z6
47    2022  R2Z4       R1Z4     R1Z5

In [75]:
df_slots_thisyear_men.tail(10)

    Season  Slot StrongSeed WeakSeed
57    2022  R4X1       R3X1     R3X2
58    2022  R4Y1       R3Y1     R3Y2
59    2022  R4Z1       R3Z1     R3Z2
60    2022  R5WX       R4W1     R4X1
61    2022  R5YZ       R4Y1     R4Z1
62    2022  R6CH       R5WX     R5YZ
63    2022   W12       W12a     W12b
64    2022   X11       X11a     X11b
65    2022   Y16       Y16a     Y16b
66    2022   Z16       Z16a     Z16b

In [76]:
#read in the tournament seed data data
df_seeds_men = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/MNCAATourneySeeds.csv')
#df_seeds_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness2023/data/raw/WNCAATourneySeeds.csv')
df_seeds_men.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [77]:
df_seeds_thisyear_men = df_seeds_men[df_seeds_men['Season']==year]
df_seeds_thisyear_men = df_seeds_thisyear_men.reset_index(drop=True)
df_seeds_thisyear_men.head(20)

    Season  Seed  TeamID
0     2022   W01    1124
1     2022   W02    1246
2     2022   W03    1345
3     2022   W04    1417
4     2022   W05    1388
5     2022   W06    1400
6     2022   W07    1293
7     2022   W08    1314
8     2022   W09    1266
9     2022   W10    1362
10    2022   W11    1439
11    2022  W12a    1231
12    2022  W12b    1461
13    2022   W13    1103
14    2022   W14    1463
15    2022   W15    1389
16    2022   W16    1313
17    2022   X01    1211
18    2022   X02    1181
19    2022   X03    1403

In [78]:
#read in the tournament seed data data
df_seeds_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness/data/2022/raw/MNCAATourneySeeds.csv')
#df_seeds_women = pd.read_csv('/Users/tamraheberling/Documents/data_ml/MarchMadness2023/data/raw/WNCAATourneySeeds.csv')
df_seeds_women.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [79]:
df_seeds_thisyear_women = df_seeds_women[df_seeds_women['Season']==year]
df_seeds_thisyear_women = df_seeds_thisyear_women.reset_index(drop=True)
df_seeds_thisyear_women.head(20)

    Season  Seed  TeamID
0     2022   W01    1124
1     2022   W02    1246
2     2022   W03    1345
3     2022   W04    1417
4     2022   W05    1388
5     2022   W06    1400
6     2022   W07    1293
7     2022   W08    1314
8     2022   W09    1266
9     2022   W10    1362
10    2022   W11    1439
11    2022  W12a    1231
12    2022  W12b    1461
13    2022   W13    1103
14    2022   W14    1463
15    2022   W15    1389
16    2022   W16    1313
17    2022   X01    1211
18    2022   X02    1181
19    2022   X03    1403

Rather than messing with the play-in games, let's take 11a and 16a as seed 11 and 16. Then we don't need to worry about it.

In [80]:
df_seeds_thisyear_men.Seed.replace(['W12a','Y16a','X11a','Z16a'],['W12','Y16','X11','Z16'],inplace=True)
vals_to_drop=['W12b','X11b','Y16b','Z16b']
df_seeds_thisyear_men = df_seeds_thisyear_men[df_seeds_thisyear_men.Seed.isin(vals_to_drop) == False]
df_seeds_thisyear_men.index = range(64)

In [81]:
print(df_seeds_thisyear_men[32:64])
print(len(df_seeds_thisyear_men))

    Season Seed  TeamID
32    2022  Y01    1242
33    2022  Y02    1120
34    2022  Y03    1458
35    2022  Y04    1344
36    2022  Y05    1234
37    2022  Y06    1261
38    2022  Y07    1425
39    2022  Y08    1361
40    2022  Y09    1166
41    2022  Y10    1274
42    2022  Y11    1235
43    2022  Y12    1350
44    2022  Y13    1355
45    2022  Y14    1159
46    2022  Y15    1240
47    2022  Y16    1394
48    2022  Z01    1112
49    2022  Z02    1437
50    2022  Z03    1397
51    2022  Z04    1228
52    2022  Z05    1222
53    2022  Z06    1161
54    2022  Z07    1326
55    2022  Z08    1371
56    2022  Z09    1395
57    2022  Z10    1260
58    2022  Z11    1276
59    2022  Z12    1412
60    2022  Z13    1151
61    2022  Z14    1255
62    2022  Z15    1174
63    2022  Z16    1136
64

In [82]:
df_seeds_thisyear_women.tail(20)

    Season  Seed  TeamID
48    2022   Y15    1240
49    2022  Y16a    1394
50    2022  Y16b    1411
51    2022   Z01    1112
52    2022   Z02    1437
53    2022   Z03    1397
54    2022   Z04    1228
55    2022   Z05    1222
56    2022   Z06    1161
57    2022   Z07    1326
58    2022   Z08    1371
59    2022   Z09    1395
60    2022   Z10    1260
61    2022   Z11    1276
62    2022   Z12    1412
63    2022   Z13    1151
64    2022   Z14    1255
65    2022   Z15    1174
66    2022  Z16a    1136
67    2022  Z16b    1460

In [83]:
df_seeds_thisyear_women.Seed.replace(['W12a','Y16a','X11a','Z16a'],['W12','Y16','X11','Z16'],inplace=True)
vals_to_drop=['W12b','X11b','Y16b','Z16b']
df_seeds_thisyear_women = df_seeds_thisyear_women[df_seeds_thisyear_women.Seed.isin(vals_to_drop) == False]
df_seeds_thisyear_women.index = range(64)

I think with these three dataframes, we can write a function that will take the slot information to find out which slots play eachother in each round. Then we use the seed data frame to look up which TeamID is associated with the slots. Then we look at our predictions to find out who we predicted to win. From there we should be able to label the winning teams with their seed for the next round and continue on.

In [84]:
'''Make a dictionary of the rank of each team and the probability that they win the round'''
def prob_win_rank(rank1, rank2, dict_region, dict_prob):
    teamid1 = dict_region[rank1]
    teamid2 = dict_region[rank2]
    prob_teamid1, prob_teamid2 = prob_win(teamid1,teamid2)
    dict_prob.update({rank1: prob_teamid1,rank2: prob_teamid2})
    return dict_prob

In [85]:
'''Given two teamIDs, calculate the probabality that each team wins the matchup'''
def prob_win(teamid1=int,teamid2=int):
    if teamid1 < teamid2:
        id_pred = str(year)+'_'+str(teamid1)+'_'+str(teamid2)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        prob_teamid1 = pred
        prob_teamid2 = 1-pred
    elif teamid2 < teamid1:
        id_pred = str(year)+'_'+str(teamid2)+'_'+str(teamid1)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        prob_teamid2 = pred
        prob_teamid1 = 1-pred
    return prob_teamid1, prob_teamid2

In [86]:
'make a dictionary of the team seed and their id for each region'
def seed_id(int1=int, int2=int):
    seeds = [i+1 for i in range(16)]
    TeamIDs = [int(df_seeds_thisyear_men.TeamID[j]) for j in range(int1,int2)]
    dict_out = dict(zip(seeds,TeamIDs))
    return dict_out

In [87]:
'given a tuple, give the list containing the list of matchups in the next round'
def tup_to_matchups(tup=tuple, half_len_of_tuple=int):
    matchup_list = [[tup[i],tup[-i-1]] for i in range(half_len_of_tuple)]
    return matchup_list

In [88]:
'''function to calculate all the possible round results and their probabilities'''
def round_results(round_num=int, half_of_teams_in_round=int, tup_match=tuple, prob=float, round_results_dict=dict):
    #calculate all possible combinations of ranks in tup_match as a list of tuples
    round_matchups = tup_to_matchups(tup_match,half_of_teams_in_round)
    #possible_combos = list(product(*round_matchups))
    '''use dict to pull the probability that each team in the tuple wins and multiply together to 
    calculate the probability of that tuple'''
    for match in round_matchups:
        round_results_dict = prob_win_rank(match[0],match[1])
    return(round_results_dict)

# Round 1

In [89]:
'Calculate the rank and team id for each region'
W_region = seed_id(0,16)
X_region = seed_id(16,32)
Y_region = seed_id(32,48)
Z_region = seed_id(48,64)

In [90]:
W_region

{1: 1124,
 2: 1246,
 3: 1345,
 4: 1417,
 5: 1388,
 6: 1400,
 7: 1293,
 8: 1314,
 9: 1266,
 10: 1362,
 11: 1439,
 12: 1231,
 13: 1103,
 14: 1463,
 15: 1389,
 16: 1313}

In [91]:
tup_round1 = tuple(i+1 for i in range(16))
round1_matchups = tup_to_matchups(tup_round1, 8)
round1_matchups

[[1, 16], [2, 15], [3, 14], [4, 13], [5, 12], [6, 11], [7, 10], [8, 9]]

In [92]:
round1_W = {}
for match in round1_matchups:
        round_results_dict = prob_win_rank(match[0],match[1],W_region,round1_W)
round1_W

{1: 0.878610331121106,
 16: 0.12138966887889402,
 2: 0.529673944750989,
 15: 0.47032605524901105,
 3: 0.431847623593129,
 14: 0.568152376406871,
 4: 0.43750808745857706,
 13: 0.562491912541423,
 5: 0.47032605524901105,
 12: 0.529673944750989,
 6: 0.651899860763005,
 11: 0.348100139236995,
 7: 0.529673944750989,
 10: 0.47032605524901105,
 8: 0.345772879339623,
 9: 0.654227120660377}

With this information, you get to pick your own tuple to move onto the next round.

In [95]:
W_tup_round2 = [1,2,14,13,12,6,7,9]

In [94]:
round1_X = {}
for match in round1_matchups:
        round_results_dict = prob_win_rank(match[0],match[1],X_region,round1_X)
round1_X

{1: 0.45787014276206095,
 16: 0.542129857237939,
 2: 0.47032605524901105,
 15: 0.529673944750989,
 3: 0.451486175581419,
 14: 0.548513824418581,
 4: 0.430120208793486,
 13: 0.569879791206514,
 5: 0.500694845391225,
 12: 0.499305154608775,
 6: 0.403869374906998,
 11: 0.5961306250930021,
 7: 0.38546504258527803,
 10: 0.614534957414722,
 8: 0.529673944750989,
 9: 0.47032605524901105}

In [96]:
X_tup_round2 = (16,15,14,13,5,11,10,8)

In [97]:
round1_Y = {}
for match in round1_matchups:
        round_results_dict = prob_win_rank(match[0],match[1],Y_region,round1_Y)
round1_Y

{1: 0.452404522341677,
 16: 0.547595477658323,
 2: 0.529673944750989,
 15: 0.47032605524901105,
 3: 0.77762130504406,
 14: 0.22237869495594,
 4: 0.529673944750989,
 13: 0.47032605524901105,
 5: 0.464374897782509,
 12: 0.5356251022174909,
 6: 0.48644053190623204,
 11: 0.513559468093768,
 7: 0.38180508900237,
 10: 0.61819491099763,
 8: 0.499568359356918,
 9: 0.500431640643082}

In [98]:
Y_tup_round2 = (16,2,3,4,12,11,10,9)

In [99]:
round1_Z = {}
for match in round1_matchups:
        round_results_dict = prob_win_rank(match[0],match[1],Z_region,round1_Z)
round1_Z

{1: 0.529673944750989,
 16: 0.47032605524901105,
 2: 0.47912789911866804,
 15: 0.520872100881332,
 3: 0.438424968749035,
 14: 0.561575031250965,
 4: 0.390278443800133,
 13: 0.609721556199867,
 5: 0.550978498435589,
 12: 0.449021501564411,
 6: 0.576973472248807,
 11: 0.423026527751193,
 7: 0.599240722052936,
 10: 0.400759277947064,
 8: 0.529673944750989,
 9: 0.47032605524901105}

In [100]:
Z_tup_round2 = (1,15,14,13,5,6,7,8)

# Round: 2

In [102]:
round2_matchups_W = tup_to_matchups(W_tup_round2, 4)
round2_matchups_W

[[1, 9], [2, 7], [14, 6], [13, 12]]

In [106]:
round2_W = {}
for match in round2_matchups_W:
        round_results_dict = prob_win_rank(match[0],match[1],W_region,round2_W)
round2_W

{1: 0.457236798256606,
 9: 0.542763201743394,
 2: 0.529673944750989,
 7: 0.47032605524901105,
 14: 0.511477494105502,
 6: 0.488522505894498,
 13: 0.529673944750989,
 12: 0.47032605524901105}

In [107]:
W_tup_round3 = (9,2,14,13)

In [103]:
round2_matchups_X = tup_to_matchups(X_tup_round2, 4)
round2_matchups_X

[[16, 8], [15, 10], [14, 11], [13, 5]]

In [108]:
round2_X = {}
for match in round2_matchups_X:
        round_results_dict = prob_win_rank(match[0],match[1],X_region,round2_X)
round2_X

{16: 0.47032605524901105,
 8: 0.529673944750989,
 15: 0.529673944750989,
 10: 0.47032605524901105,
 14: 0.529673944750989,
 11: 0.47032605524901105,
 13: 0.499305154608775,
 5: 0.500694845391225}

In [109]:
X_tup_round3 = (8,15,14,5)

In [104]:
round2_matchups_Y = tup_to_matchups(Y_tup_round2, 4)
round2_matchups_Y

[[16, 9], [2, 10], [3, 11], [4, 12]]

In [110]:
round2_Y = {}
for match in round2_matchups_Y:
        round_results_dict = prob_win_rank(match[0],match[1],Y_region,round2_Y)
round2_Y

{16: 0.593448203059822,
 9: 0.406551796940178,
 2: 0.529673944750989,
 10: 0.47032605524901105,
 3: 0.39679632034714596,
 11: 0.603203679652854,
 4: 0.529673944750989,
 12: 0.47032605524901105}

In [111]:
Y_tup_round3 = (16,2,11,4)

In [105]:
round2_matchups_Z = tup_to_matchups(Z_tup_round2, 4)
round2_matchups_Z

[[1, 8], [15, 7], [14, 6], [13, 5]]

In [112]:
round2_Z = {}
for match in round2_matchups_Z:
        round_results_dict = prob_win_rank(match[0],match[1],Z_region,round2_Z)
round2_Z

{1: 0.529673944750989,
 8: 0.47032605524901105,
 15: 0.63566604165625,
 7: 0.36433395834375004,
 14: 0.47032605524901105,
 6: 0.529673944750989,
 13: 0.506610274371551,
 5: 0.49338972562844896}

In [113]:
Z_tup_round3 = (1,15,6,13)

# Round: 3

In [114]:
round3_matchups_W = tup_to_matchups(W_tup_round3, 2)
round3_matchups_W

[[9, 13], [2, 14]]

In [118]:
round3_W = {}
for match in round3_matchups_W:
        round_results_dict = prob_win_rank(match[0],match[1],W_region,round3_W)
round3_W

{9: 0.47032605524901105,
 13: 0.529673944750989,
 2: 0.529673944750989,
 14: 0.47032605524901105}

In [119]:
W_tup_round4 = (13,2)

In [117]:
round3_matchups_X = tup_to_matchups(X_tup_round3, 2)
round3_matchups_X

[[8, 5], [15, 14]]

In [120]:
round3_X = {}
for match in round3_matchups_X:
        round_results_dict = prob_win_rank(match[0],match[1],X_region,round3_X)
round3_X

{8: 0.53971821016334,
 5: 0.46028178983666,
 15: 0.529673944750989,
 14: 0.47032605524901105}

In [121]:
X_tup_round4 = (8,15)

In [115]:
round3_matchups_Y = tup_to_matchups(Y_tup_round3, 2)
round3_matchups_Y

[[16, 4], [2, 11]]

In [122]:
round3_Y = {}
for match in round3_matchups_Y:
        round_results_dict = prob_win_rank(match[0],match[1],Y_region,round3_Y)
round3_Y

{16: 0.47032605524901105,
 4: 0.529673944750989,
 2: 0.529673944750989,
 11: 0.47032605524901105}

In [123]:
Y_tup_round4 = (4,2)

In [116]:
round3_matchups_Z = tup_to_matchups(Z_tup_round3, 2)
round3_matchups_Z

[[1, 13], [15, 6]]

In [124]:
round3_Z = {}
for match in round3_matchups_Z:
        round_results_dict = prob_win_rank(match[0],match[1],Z_region,round3_Z)
round3_Z

{1: 0.529673944750989,
 13: 0.47032605524901105,
 15: 0.47032605524901105,
 6: 0.529673944750989}

In [125]:
Z_tup_round4 = (1,6)

# Regional Finals

In [128]:
round4_W = {}
round4_W = prob_win_rank(W_tup_round4[0],W_tup_round4[1],W_region,round4_W)
round4_W

{13: 0.529673944750989, 2: 0.47032605524901105}

In [131]:
rank_W_win = 13

In [135]:
round4_X = {}
round4_X = prob_win_rank(X_tup_round4[0],X_tup_round4[1],X_region,round4_X)
round4_X

{8: 0.529673944750989, 15: 0.47032605524901105}

In [136]:
rank_X_win = 8

In [130]:
round4_Y = {}
round4_Y = prob_win_rank(Y_tup_round4[0],Y_tup_round4[1],Y_region,round4_Y)
round4_Y

{4: 0.47032605524901105, 2: 0.529673944750989}

In [132]:
rank_Y_win = 2

In [133]:
round4_Z = {}
round4_Z = prob_win_rank(Z_tup_round4[0],Z_tup_round4[1],Z_region,round4_Z)
round4_Z

{1: 0.529673944750989, 6: 0.47032605524901105}

In [134]:
rank_Z_win = 1

# Semifinals

In [138]:
W_region[rank_W_win]

1103

In [139]:
X_region[rank_X_win]

1129

In [142]:
W_pred, X_pred = prob_win(W_region[rank_W_win],X_region[rank_X_win])
print('W: '+str(W_pred))
print('X: '+str(X_pred))

W: 0.529673944750989
X: 0.47032605524901105

In [148]:
regionWX_winID = 1103

In [144]:
Y_region[rank_Y_win]

1120

In [145]:
Z_region[rank_Z_win]

1112

In [151]:
Y_pred, Z_pred = prob_win(Y_region[rank_Y_win],Z_region[rank_Z_win])
print('Y: '+str(Y_pred))
print('Z: '+str(Z_pred))

Y: 0.47032605524901105
Z: 0.529673944750989

In [152]:
regionYZ_winID = 1112

# Championship

In [153]:
regionWX_pred, regionYZ_pred = prob_win(regionWX_winID,regionYZ_winID)
print('WX: '+str(regionWX_pred))
print('YZ: '+str(regionYZ_pred))

WX: 0.529673944750989
YZ: 0.47032605524901105