We made our predictions in phase2_submissions1.csv. Now let's back out what those submissions are in the bracket.

In [1]:
import pandas as pd

In [14]:
year = 2023

In [3]:
df_pred = pd.read_csv('submission(7).csv')
df_pred.head()

               ID      Pred
0  2023_1101_1102  0.341593
1  2023_1101_1103  0.204065
2  2023_1101_1104  0.226276
3  2023_1101_1105  0.373082
4  2023_1101_1106  0.562546

Excellent, now we have our submission file into a dataframe with ID and Predictions. From here we'll need to bring in the first round teams and see who we predict will win.

In [11]:
#read in the team data
df_teams = pd.read_csv('data/MTeams.csv')
df_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2023
1    1102    Air Force           1985          2023
2    1103        Akron           1985          2023
3    1104      Alabama           1985          2023
4    1105  Alabama A&M           2000          2023

In [12]:
#read in the tournament slot data
df_slots = pd.read_csv('data/MNCAATourneySlots.csv')
df_slots.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [15]:
df_slots_thisyear = df_slots[df_slots['Season']==year]
df_slots_thisyear = df_slots_thisyear.reset_index(drop=True)
df_slots_thisyear.head(48)

    Season  Slot StrongSeed WeakSeed
0     2023  R1W1        W01      W16
1     2023  R1W2        W02      W15
2     2023  R1W3        W03      W14
3     2023  R1W4        W04      W13
4     2023  R1W5        W05      W12
5     2023  R1W6        W06      W11
6     2023  R1W7        W07      W10
7     2023  R1W8        W08      W09
8     2023  R1X1        X01      X16
9     2023  R1X2        X02      X15
10    2023  R1X3        X03      X14
11    2023  R1X4        X04      X13
12    2023  R1X5        X05      X12
13    2023  R1X6        X06      X11
14    2023  R1X7        X07      X10
15    2023  R1X8        X08      X09
16    2023  R1Y1        Y01      Y16
17    2023  R1Y2        Y02      Y15
18    2023  R1Y3        Y03      Y14
19    2023  R1Y4        Y04      Y13
20    2023  R1Y5        Y05      Y12
21    2023  R1Y6        Y06      Y11
22    2023  R1Y7        Y07      Y10
23    2023  R1Y8        Y08      Y09
24    2023  R1Z1        Z01      Z16
25    2023  R1Z2        Z02      Z15
26    2023  R1Z3        Z03      Z14
27    2023  R1Z4        Z04      Z13
28    2023  R1Z5        Z05      Z12
29    2023  R1Z6        Z06      Z11
30    2023  R1Z7        Z07      Z10
31    2023  R1Z8        Z08      Z09
32    2023  R2W1       R1W1     R1W8
33    2023  R2W2       R1W2     R1W7
34    2023  R2W3       R1W3     R1W6
35    2023  R2W4       R1W4     R1W5
36    2023  R2X1       R1X1     R1X8
37    2023  R2X2       R1X2     R1X7
38    2023  R2X3       R1X3     R1X6
39    2023  R2X4       R1X4     R1X5
40    2023  R2Y1       R1Y1     R1Y8
41    2023  R2Y2       R1Y2     R1Y7
42    2023  R2Y3       R1Y3     R1Y6
43    2023  R2Y4       R1Y4     R1Y5
44    2023  R2Z1       R1Z1     R1Z8
45    2023  R2Z2       R1Z2     R1Z7
46    2023  R2Z3       R1Z3     R1Z6
47    2023  R2Z4       R1Z4     R1Z5

In [16]:
df_slots_thisyear.tail(10)

    Season  Slot StrongSeed WeakSeed
57    2023  R4X1       R3X1     R3X2
58    2023  R4Y1       R3Y1     R3Y2
59    2023  R4Z1       R3Z1     R3Z2
60    2023  R5WX       R4W1     R4X1
61    2023  R5YZ       R4Y1     R4Z1
62    2023  R6CH       R5WX     R5YZ
63    2023   W16       W16a     W16b
64    2023   X16       X16a     X16b
65    2023   Y11       Y11a     Y11b
66    2023   Z11       Z11a     Z11b

In [17]:
#read in the tournament seed data data
df_seeds = pd.read_csv('data/MNCAATourneySeeds.csv')
df_seeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [18]:
df_seeds_thisyear = df_seeds[df_seeds['Season']==year]
df_seeds_thisyear = df_seeds_thisyear.reset_index(drop=True)
df_seeds_thisyear.head(20)

    Season  Seed  TeamID
0     2023   W01    1345
1     2023   W02    1266
2     2023   W03    1243
3     2023   W04    1397
4     2023   W05    1181
5     2023   W06    1246
6     2023   W07    1277
7     2023   W08    1272
8     2023   W09    1194
9     2023   W10    1425
10    2023   W11    1344
11    2023   W12    1331
12    2023   W13    1418
13    2023   W14    1286
14    2023   W15    1436
15    2023  W16a    1192
16    2023  W16b    1411
17    2023   X01    1104
18    2023   X02    1112
19    2023   X03    1124

Rather than messing with the play-in games, let's take 11a and 16a as seed 11 and 16. Then we don't need to worry about it.

In [21]:
df_seeds_thisyear.Seed.replace(['W16a','Y11a','X16a','Z11a'],['W16','Y11','X16','Z11'],inplace=True)
vals_to_drop=['W16b','X16b','Y11b','Z11b']
df_seeds_thisyear = df_seeds_thisyear[df_seeds_thisyear.Seed.isin(vals_to_drop) == False]

In [22]:
print(df_seeds_thisyear[32:64])

    Season Seed  TeamID
34    2023  Y01    1222
35    2023  Y02    1400
36    2023  Y03    1462
37    2023  Y04    1231
38    2023  Y05    1274
39    2023  Y06    1235
40    2023  Y07    1401
41    2023  Y08    1234
42    2023  Y09    1120
43    2023  Y10    1336
44    2023  Y11    1280
46    2023  Y12    1179
47    2023  Y13    1245
48    2023  Y14    1244
49    2023  Y15    1159
50    2023  Y16    1297
51    2023  Z01    1242
52    2023  Z02    1417
53    2023  Z03    1211
54    2023  Z04    1163
55    2023  Z05    1388
56    2023  Z06    1395
57    2023  Z07    1321
58    2023  Z08    1116
59    2023  Z09    1228
60    2023  Z10    1129
61    2023  Z11    1113
63    2023  Z12    1433
64    2023  Z13    1233
65    2023  Z14    1213
66    2023  Z15    1421
67    2023  Z16    1224

In [33]:
W_region = {}
for i in range(16):
    seed = i+1
    teamid = df_seeds_thisyear.TeamID.iloc[i]
    W_region.update({seed: teamid})
W_region

{1: 1345,
 2: 1266,
 3: 1243,
 4: 1397,
 5: 1181,
 6: 1246,
 7: 1277,
 8: 1272,
 9: 1194,
 10: 1425,
 11: 1344,
 12: 1331,
 13: 1418,
 14: 1286,
 15: 1436,
 16: 1192}

In [38]:
X_region = {}
for i in range(16,32):
    seed = i-15
    teamid = df_seeds_thisyear.TeamID.iloc[i]
    X_region.update({seed: teamid})
X_region

{1: 1104,
 2: 1112,
 3: 1124,
 4: 1438,
 5: 1361,
 6: 1166,
 7: 1281,
 8: 1268,
 9: 1452,
 10: 1429,
 11: 1301,
 12: 1158,
 13: 1202,
 14: 1364,
 15: 1343,
 16: 1369}

In [39]:
Y_region = {}
for i in range(32,48):
    seed = i-31
    teamid = df_seeds_thisyear.TeamID.iloc[i]
    Y_region.update({seed: teamid})
Y_region

{1: 1222,
 2: 1400,
 3: 1462,
 4: 1231,
 5: 1274,
 6: 1235,
 7: 1401,
 8: 1234,
 9: 1120,
 10: 1336,
 11: 1280,
 12: 1179,
 13: 1245,
 14: 1244,
 15: 1159,
 16: 1297}

In [41]:
Z_region = {}
for i in range(48,64):
    seed = i-47
    teamid = df_seeds_thisyear.TeamID.iloc[i]
    Z_region.update({seed: teamid})
Z_region

{1: 1242,
 2: 1417,
 3: 1211,
 4: 1163,
 5: 1388,
 6: 1395,
 7: 1321,
 8: 1116,
 9: 1228,
 10: 1129,
 11: 1113,
 12: 1433,
 13: 1233,
 14: 1213,
 15: 1421,
 16: 1224}

I think with these three dataframes, we can write a function that will take the slot information to find out which slots play eachother in each round. Then we use the seed data frame to look up which TeamID is associated with the slots. Then we look at our predictions to find out who we predicted to win. From there we should be able to label the winning teams with their seed for the next round and continue on.

# Useful Definitions

In [54]:
'''Calculate the matchups for the round from the tuple'''
def matchups(tup=tuple, num_teams=int):
    matches = []
    for i in range(int(num_teams/2)):
        match = [tup[i],tup[-i-1]]
        matches.append(match)
    return matches

In [56]:
'''Given two teamids what is the probability of each team winning the matchup''' 
def prob_win(teamid1=int, teamid2=int):
    if teamid1 > teamid2:
        id_pred = str(year)+'_'+str(teamid2)+'_'+str(teamid1)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        teamid1_prob = 1-pred
        teamid2_prob = pred
    elif teamid1 < teamid2:
        id_pred = str(year)+'_'+str(teamid1)+'_'+str(teamid2)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        teamid1_prob = pred
        teamid2_prob = 1-pred
    return teamid1_prob, teamid2_prob

In [69]:
'''Make dictionary of seed and prob of winning'''
def matchup_pred(matchups,dict_region,dict_pred):
    for match in matchups:
        teamid1 = dict_region[match[0]]
        teamid2 = dict_region[match[1]]
        teamid1_prob, teamid2_prob = prob_win(teamid1,teamid2)
        dict_pred.update({match[0]:teamid1_prob, match[1]:teamid2_prob})
    return dict_pred

In [152]:
'''Return team name from rank'''
def teams(tup, dict_region):
    for seed in tup:
        teamid = dict_region[seed]
        print(df_teams.loc[df_teams['TeamID'] == teamid, 'TeamName'].iloc[0])
    return

# Round: 1

In [53]:
round1_tup = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16)
matches = matchups(round1_tup,16)
print(matches)

[[1, 16], [2, 15], [3, 14], [4, 13], [5, 12], [6, 11], [7, 10], [8, 9]]

In [70]:
W_round1 = {}
W_round1 = matchup_pred(matches,W_region,W_round1)
W_round1

{1: 0.812111254720466,
 16: 0.187888745279534,
 2: 0.529933757033962,
 15: 0.47006624296603805,
 3: 0.552725494829199,
 14: 0.44727450517080103,
 4: 0.613246503566269,
 13: 0.386753496433731,
 5: 0.440172911356031,
 12: 0.559827088643969,
 6: 0.641528505611735,
 11: 0.358471494388265,
 7: 0.415919008440685,
 10: 0.584080991559315,
 8: 0.5115421666127,
 9: 0.4884578333873}

In [153]:
W_round1_tup = (1,2,3,4,12,6,10,8)

In [154]:
teams(W_round1_tup, W_region)

Purdue
Marquette
Kansas St
Tennessee
Oral Roberts
Kentucky
USC
Memphis

In [72]:
X_round1 = {}
X_round1 = matchup_pred(matches,X_region,X_round1)
X_round1

{1: 0.805365537489732,
 16: 0.19463446251026795,
 2: 0.734699027924086,
 15: 0.26530097207591397,
 3: 0.469750491381313,
 14: 0.530249508618687,
 4: 0.45642878418490895,
 13: 0.543571215815091,
 5: 0.40985081999798,
 12: 0.59014918000202,
 6: 0.516998041662569,
 11: 0.483001958337431,
 7: 0.478788815987276,
 10: 0.521211184012724,
 8: 0.566884532140973,
 9: 0.433115467859027}

In [73]:
X_round1_tup = (1,2,14,13,12,6,10,8)

In [155]:
teams(X_round1_tup, X_region)

Alabama
Arizona
UC Santa Barbara
Furman
Col Charleston
Creighton
Utah St
Maryland

In [74]:
Y_round1 = {}
Y_round1 = matchup_pred(matches,Y_region,Y_round1)
Y_round1

{1: 0.959162679231435,
 16: 0.040837320768565055,
 2: 0.39831220886147,
 15: 0.60168779113853,
 3: 0.622694794491961,
 14: 0.377305205508039,
 4: 0.589781569851288,
 13: 0.41021843014871195,
 5: 0.44091503444385305,
 12: 0.559084965556147,
 6: 0.407780051743125,
 11: 0.5922199482568751,
 7: 0.494630624967649,
 10: 0.505369375032351,
 8: 0.52780863117065,
 9: 0.47219136882935}

In [75]:
Y_round1_tup = (1,15,3,4,12,11,10,8)

In [156]:
teams(Y_round1_tup, Y_region)

Houston
Colgate
Xavier
Indiana
Drake
Mississippi St
Penn St
Iowa

In [76]:
Z_round1 = {}
Z_round1 = matchup_pred(matches,Z_region,Z_round1)
Z_round1

{1: 0.653462161037906,
 16: 0.346537838962094,
 2: 0.721669113564211,
 15: 0.27833088643578896,
 3: 0.726087633215382,
 14: 0.27391236678461806,
 4: 0.45666571155576,
 13: 0.54333428844424,
 5: 0.610863513339794,
 12: 0.38913648666020595,
 6: 0.666133722851826,
 11: 0.333866277148174,
 7: 0.37059716887917205,
 10: 0.629402831120828,
 8: 0.555200486518582,
 9: 0.444799513481418}

In [77]:
Z_round1_tup = (1,2,3,13,5,6,10,8)

In [157]:
teams(Z_round1_tup, Z_region)

Kansas
UCLA
Gonzaga
Iona
St Mary's CA
TCU
Boise St
Arkansas

# Round: 2

In [78]:
W_round2_matches = matchups(W_round1_tup,8)
print(W_round2_matches)

[[1, 8], [2, 10], [3, 6], [4, 12]]

In [79]:
W_round2 = {}
W_round2 = matchup_pred(W_round2_matches,W_region,W_round2)
W_round2

{1: 0.588776470756574,
 8: 0.411223529243426,
 2: 0.639334188943742,
 10: 0.36066581105625795,
 3: 0.441582961751255,
 6: 0.558417038248745,
 4: 0.49806988723434,
 12: 0.50193011276566}

In [85]:
W_round2_tup = (1,2,6,12)

In [158]:
teams(W_round2_tup, W_region)

Purdue
Marquette
Kentucky
Oral Roberts

In [81]:
X_round2_matches = matchups(X_round1_tup,8)
print(X_round2_matches)

[[1, 8], [2, 10], [14, 6], [13, 12]]

In [82]:
X_round2 = {}
X_round2 = matchup_pred(X_round2_matches,X_region,X_round2)
X_round2

{1: 0.572339329469974,
 8: 0.427660670530026,
 2: 0.712570319811345,
 10: 0.287429680188655,
 14: 0.44497338312655,
 6: 0.55502661687345,
 13: 0.38938005167298795,
 12: 0.610619948327012}

In [84]:
X_round2_tup = (1,2,6,12)

In [159]:
teams(X_round2_tup, X_region)

Alabama
Arizona
Creighton
Col Charleston

In [86]:
Y_round2_matches = matchups(Y_round1_tup,8)
print(Y_round2_matches)

[[1, 8], [15, 10], [3, 11], [4, 12]]

In [87]:
Y_round2 = {}
Y_round2 = matchup_pred(Y_round2_matches,Y_region,Y_round2)
Y_round2

{1: 0.756561734165635,
 8: 0.243438265834365,
 15: 0.71009659535181,
 10: 0.28990340464819,
 3: 0.688734181415103,
 11: 0.311265818584897,
 4: 0.407471455525106,
 12: 0.592528544474894}

In [88]:
Y_round2_tup = (1,15,3,12)

In [161]:
teams(Y_round2_tup, Y_region)

Houston
Colgate
Xavier
Drake

In [89]:
Z_round2_matches = matchups(Z_round1_tup,8)
print(Z_round2_matches)

[[1, 8], [2, 10], [3, 6], [13, 5]]

In [90]:
Z_round2 = {}
Z_round2 = matchup_pred(Z_round2_matches,Z_region,Z_round2)
Z_round2

{1: 0.560259806770153,
 8: 0.439740193229847,
 2: 0.606506641020945,
 10: 0.393493358979055,
 3: 0.72958820248811,
 6: 0.27041179751189004,
 13: 0.534203852430992,
 5: 0.465796147569008}

In [91]:
Z_round2_tup = (1,2,3,13)

In [162]:
teams(Z_round2_tup, Z_region)

Kansas
UCLA
Gonzaga
Iona

# Round: 3

In [92]:
W_round3_matches = matchups(W_round2_tup,4)
print(W_round3_matches)

[[1, 12], [2, 6]]

In [93]:
W_round3 = {}
W_round3 = matchup_pred(W_round3_matches,W_region,W_round3)
W_round3

{1: 0.539396073443486,
 12: 0.460603926556514,
 2: 0.49579064647303195,
 6: 0.504209353526968}

In [109]:
W_round3_tup = (1,6)

In [163]:
teams(W_round3_tup, W_region)

Purdue
Kentucky

In [95]:
X_round3_matches = matchups(X_round2_tup,4)
print(X_round3_matches)

[[1, 12], [2, 6]]

In [96]:
X_round3 = {}
X_round3 = matchup_pred(X_round3_matches,X_region,X_round3)
X_round3

{1: 0.561813441952703,
 12: 0.438186558047297,
 2: 0.743276205337791,
 6: 0.25672379466220896}

In [97]:
X_round3_tup = (1,2)

In [164]:
teams(X_round3_tup, X_region)

Alabama
Arizona

In [98]:
Y_round3_matches = matchups(Y_round2_tup,4)
print(Y_round3_matches)

[[1, 12], [15, 3]]

In [99]:
Y_round3 = {}
Y_round3 = matchup_pred(Y_round3_matches,Y_region,Y_round3)
Y_round3

{1: 0.804469812286734,
 12: 0.195530187713266,
 15: 0.457458574892676,
 3: 0.542541425107324}

In [102]:
Y_round3_tup = (1,3)

In [165]:
teams(Y_round3_tup, Y_region)

Houston
Xavier

In [104]:
Z_round3_matches = matchups(Z_round2_tup,4)
print(Z_round3_matches)

[[1, 13], [2, 3]]

In [106]:
Z_round3 = {}
Z_round3 = matchup_pred(Z_round3_matches,Z_region,Z_round3)
Z_round3

{1: 0.306829206723219,
 13: 0.693170793276781,
 2: 0.464683090936162,
 3: 0.535316909063838}

In [108]:
Z_round3_tup = (13,3)

In [166]:
teams(Z_round3_tup, Z_region)

Iona
Gonzaga

# Round: 4

In [110]:
W_round4_matches = matchups(W_round3_tup,2)
print(W_round4_matches)

[[1, 6]]

In [111]:
W_round4 = {}
W_round4 = matchup_pred(W_round4_matches,W_region,W_round4)
W_round4

{1: 0.6190708740751361, 6: 0.380929125924864}

In [120]:
W_winner = 1
W_teamid_winner = W_region[W_winner]
print(W_teamid_winner)

1345

In [170]:
df_teams.loc[df_teams['TeamID'] == W_teamid_winner, 'TeamName'].iloc[0]

'Purdue'

In [114]:
X_round4_matches = matchups(X_round3_tup,2)
print(X_round4_matches)

[[1, 2]]

In [118]:
X_round4 = {}
X_round4 = matchup_pred(X_round4_matches,X_region,X_round4)
X_round4

{1: 0.439134267618188, 2: 0.560865732381812}

In [121]:
X_winner = 2
X_teamid_winner = X_region[X_winner]
print(X_teamid_winner)

1112

In [171]:
df_teams.loc[df_teams['TeamID'] == X_teamid_winner, 'TeamName'].iloc[0]

'Arizona'

In [115]:
Y_round4_matches = matchups(Y_round3_tup,2)
print(Y_round4_matches)

[[1, 3]]

In [122]:
Y_round4 = {}
Y_round4 = matchup_pred(Y_round4_matches,Y_region,Y_round4)
Y_round4

{1: 0.639539531448333, 3: 0.360460468551667}

In [123]:
Y_winner = 1
Y_teamid_winner = Y_region[Y_winner]
print(Y_teamid_winner)

1222

In [172]:
df_teams.loc[df_teams['TeamID'] == Y_teamid_winner, 'TeamName'].iloc[0]

'Houston'

In [124]:
Z_round4_matches = matchups(Z_round3_tup,2)
print(Z_round4_matches)

[[13, 3]]

In [125]:
Z_round4 = {}
Z_round4 = matchup_pred(Z_round4_matches,Z_region,Z_round4)
Z_round4

{13: 0.48426819951433, 3: 0.51573180048567}

In [126]:
Z_winner = 3
Z_teamid_winner = Z_region[Z_winner]
print(Z_teamid_winner)

1211

In [173]:
df_teams.loc[df_teams['TeamID'] == Z_teamid_winner, 'TeamName'].iloc[0]

'Gonzaga'

# Round: Semifinals

In [129]:
W_prob, X_prob = prob_win(W_teamid_winner, X_teamid_winner)
print('W probability '+str(W_prob))
print('X probability '+str(X_prob))

W probability 0.42719519033196995
X probability 0.57280480966803

In [130]:
WX_win_teamid = X_teamid_winner

In [175]:
df_teams.loc[df_teams['TeamID'] == WX_win_teamid, 'TeamName'].iloc[0]

'Arizona'

In [131]:
Y_prob, Z_prob = prob_win(Y_teamid_winner, Z_teamid_winner)
print('Y probability '+str(Y_prob))
print('Z probability '+str(Z_prob))

Y probability 0.623674172035082
Z probability 0.376325827964918

In [132]:
YZ_win_teamid = Y_teamid_winner

In [174]:
df_teams.loc[df_teams['TeamID'] == YZ_win_teamid, 'TeamName'].iloc[0]

'Houston'

# Round: Finals

In [133]:
WX_prob, YZ_prob = prob_win(WX_win_teamid, YZ_win_teamid)
print('WX probability '+str(WX_prob))
print('YZ probability '+str(YZ_prob))

WX probability 0.471644635192439
YZ probability 0.528355364807561

In [135]:
winner = YZ_win_teamid
winner

1222

In [176]:
df_teams.loc[df_teams['TeamID'] == winner, 'TeamName'].iloc[0]

'Houston'