We made our predictions in phase2_submissions1.csv. Now let's back out what those submissions are in the bracket.

In [437]:
import pandas as pd

In [438]:
df_pred = pd.read_csv('../../data/2022/predictions/phase2_submissions_xg.csv')
df_pred.head()

               ID      Pred
0  2022_1103_1104  0.159308
1  2022_1103_1112  0.064552
2  2022_1103_1116  0.182135
3  2022_1103_1120  0.061031
4  2022_1103_1124  0.092754

Excellent, now we have our submission file into a dataframe with ID and Predictions. From here we'll need to bring in the first round teams and see who we predict will win.

In [439]:
#read in the team data
df_teams = pd.read_csv('../../data/2022/raw/MDataFiles_Stage2/MTeams.csv')
df_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2022
1    1102    Air Force           1985          2022
2    1103        Akron           1985          2022
3    1104      Alabama           1985          2022
4    1105  Alabama A&M           2000          2022

In [440]:
#read in the tournament slot data
df_slots = pd.read_csv('../../data/2022/raw/MDataFiles_Stage2/MNCAATourneySlots.csv')
df_slots.head()

   Season  Slot StrongSeed WeakSeed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12

In [441]:
df_slots_thisyear = df_slots[df_slots['Season']==2022]
df_slots_thisyear = df_slots_thisyear.reset_index(drop=True)
df_slots_thisyear.head(48)

    Season  Slot StrongSeed WeakSeed
0     2022  R1W1        W01      W16
1     2022  R1W2        W02      W15
2     2022  R1W3        W03      W14
3     2022  R1W4        W04      W13
4     2022  R1W5        W05      W12
5     2022  R1W6        W06      W11
6     2022  R1W7        W07      W10
7     2022  R1W8        W08      W09
8     2022  R1X1        X01      X16
9     2022  R1X2        X02      X15
10    2022  R1X3        X03      X14
11    2022  R1X4        X04      X13
12    2022  R1X5        X05      X12
13    2022  R1X6        X06      X11
14    2022  R1X7        X07      X10
15    2022  R1X8        X08      X09
16    2022  R1Y1        Y01      Y16
17    2022  R1Y2        Y02      Y15
18    2022  R1Y3        Y03      Y14
19    2022  R1Y4        Y04      Y13
20    2022  R1Y5        Y05      Y12
21    2022  R1Y6        Y06      Y11
22    2022  R1Y7        Y07      Y10
23    2022  R1Y8        Y08      Y09
24    2022  R1Z1        Z01      Z16
25    2022  R1Z2        Z02      Z15
26    2022  R1Z3        Z03      Z14
27    2022  R1Z4        Z04      Z13
28    2022  R1Z5        Z05      Z12
29    2022  R1Z6        Z06      Z11
30    2022  R1Z7        Z07      Z10
31    2022  R1Z8        Z08      Z09
32    2022  R2W1       R1W1     R1W8
33    2022  R2W2       R1W2     R1W7
34    2022  R2W3       R1W3     R1W6
35    2022  R2W4       R1W4     R1W5
36    2022  R2X1       R1X1     R1X8
37    2022  R2X2       R1X2     R1X7
38    2022  R2X3       R1X3     R1X6
39    2022  R2X4       R1X4     R1X5
40    2022  R2Y1       R1Y1     R1Y8
41    2022  R2Y2       R1Y2     R1Y7
42    2022  R2Y3       R1Y3     R1Y6
43    2022  R2Y4       R1Y4     R1Y5
44    2022  R2Z1       R1Z1     R1Z8
45    2022  R2Z2       R1Z2     R1Z7
46    2022  R2Z3       R1Z3     R1Z6
47    2022  R2Z4       R1Z4     R1Z5

In [442]:
df_slots_thisyear.tail(10)

    Season  Slot StrongSeed WeakSeed
57    2022  R4X1       R3X1     R3X2
58    2022  R4Y1       R3Y1     R3Y2
59    2022  R4Z1       R3Z1     R3Z2
60    2022  R5WX       R4W1     R4X1
61    2022  R5YZ       R4Y1     R4Z1
62    2022  R6CH       R5WX     R5YZ
63    2022   W12       W12a     W12b
64    2022   X11       X11a     X11b
65    2022   Y16       Y16a     Y16b
66    2022   Z16       Z16a     Z16b

In [443]:
#read in the tournament seed data data
df_seeds = pd.read_csv('../../data/2022/raw/MDataFiles_Stage2/MNCAATourneySeeds.csv')
df_seeds.head()

   Season Seed  TeamID
0    1985  W01    1207
1    1985  W02    1210
2    1985  W03    1228
3    1985  W04    1260
4    1985  W05    1374

In [444]:
df_seeds_thisyear = df_seeds[df_seeds['Season']==2022]
df_seeds_thisyear = df_seeds_thisyear.reset_index(drop=True)
df_seeds_thisyear.head(20)

    Season  Seed  TeamID
0     2022   W01    1124
1     2022   W02    1246
2     2022   W03    1345
3     2022   W04    1417
4     2022   W05    1388
5     2022   W06    1400
6     2022   W07    1293
7     2022   W08    1314
8     2022   W09    1266
9     2022   W10    1362
10    2022   W11    1439
11    2022  W12a    1231
12    2022  W12b    1461
13    2022   W13    1103
14    2022   W14    1463
15    2022   W15    1389
16    2022   W16    1313
17    2022   X01    1211
18    2022   X02    1181
19    2022   X03    1403

Rather than messing with the play-in games, let's take 11a and 16a as seed 11 and 16. Then we don't need to worry about it.

In [445]:
df_seeds_thisyear.Seed.replace(['W12a','Y16a','X11a','Z16a'],['W12','Y16','X11','Z16'],inplace=True)
vals_to_drop=['W12b','X11b','Y16b','Z16b']
df_seeds_thisyear = df_seeds_thisyear[df_seeds_thisyear.Seed.isin(vals_to_drop) == False]

In [446]:
print(df_seeds_thisyear[32:64])

    Season Seed  TeamID
34    2022  Y01    1242
35    2022  Y02    1120
36    2022  Y03    1458
37    2022  Y04    1344
38    2022  Y05    1234
39    2022  Y06    1261
40    2022  Y07    1425
41    2022  Y08    1361
42    2022  Y09    1166
43    2022  Y10    1274
44    2022  Y11    1235
45    2022  Y12    1350
46    2022  Y13    1355
47    2022  Y14    1159
48    2022  Y15    1240
49    2022  Y16    1394
51    2022  Z01    1112
52    2022  Z02    1437
53    2022  Z03    1397
54    2022  Z04    1228
55    2022  Z05    1222
56    2022  Z06    1161
57    2022  Z07    1326
58    2022  Z08    1371
59    2022  Z09    1395
60    2022  Z10    1260
61    2022  Z11    1276
62    2022  Z12    1412
63    2022  Z13    1151
64    2022  Z14    1255
65    2022  Z15    1174
66    2022  Z16    1136

I think with these three dataframes, we can write a function that will take the slot information to find out which slots play eachother in each round. Then we use the seed data frame to look up which TeamID is associated with the slots. Then we look at our predictions to find out who we predicted to win. From there we should be able to label the winning teams with their seed for the next round and continue on.

In [447]:
'''Given two integers 0,8 for W round 1, return a list of Strong Seeds and a list of Weak Seeds'''
def match_upID(int1:int,int2:int):
    StrongSeed = df_slots_thisyear.StrongSeed[int1:int2]
    WeakSeed = df_slots_thisyear.WeakSeed[int1:int2]
    TeamID_Strong = [int(df_seeds_thisyear.TeamID[df_seeds_thisyear.Seed==seed]) for seed in StrongSeed]
    TeamID_Weak = [int(df_seeds_thisyear.TeamID[df_seeds_thisyear.Seed==seed]) for seed in WeakSeed]
    return TeamID_Strong,TeamID_Weak

In [448]:
'''Given the TeamID of the strong and weak seed in the match up, which TeamName 
was predicted to be the winner''' 
def winners(strong:int,weak:int):
    if strong > weak:
        id_pred = '2022_'+str(weak)+'_'+str(strong)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        print(pred)
        if pred < 0.5:
            win_teamID = strong
            win_team = df_teams.loc[df_teams.TeamID == win_teamID,'TeamName'].iloc[0]
            print(win_team)
        elif pred > 0.5:
            win_teamID = weak
            win_team = df_teams.loc[df_teams.TeamID == win_teamID,'TeamName'].iloc[0]
            print(win_team)
    elif strong < weak:
        id_pred = '2022_'+str(strong)+'_'+str(weak)
        pred = float(df_pred.Pred[df_pred.ID==id_pred])
        print(pred)
        if pred < 0.5:
            win_teamID = weak
            win_team = df_teams.loc[df_teams.TeamID == win_teamID,'TeamName'].iloc[0]
            print(win_team)
        elif pred > 0.5:
            win_teamID = strong
            win_team = df_teams.loc[df_teams.TeamID == win_teamID,'TeamName'].iloc[0]
            print(win_team)
    return win_team

In [449]:
'''Take the list of Strong TeamIDs and Weak TeamIDs, and use the winners function 
to make a dictionary of the winning team and the rank for the next round.'''
def round_winners(strong_teams:list, weak_teams:list, end_rank:str):
    rank = [end_rank+'{}'.format(i+1) for i in range(8)]
    winning_teams = []
    for i in range(len(strong_teams)):
        strong_id = strong_teams[i]
        weak_id = weak_teams[i]
        winner = winners(strong_id, weak_id)
        winning_teams.append(str(winner))
    round_wins = dict(zip(winning_teams,rank))
    return round_wins

# Region: W
# Round: 1

In [450]:
TeamID_Strong, TeamID_Weak = match_upID(0,8)
TeamID_Strong, TeamID_Weak

([1124, 1246, 1345, 1417, 1388, 1400, 1293, 1314],
 [1313, 1389, 1463, 1103, 1231, 1439, 1362, 1266])

In [451]:
round1_w = round_winners(TeamID_Strong,TeamID_Weak,'R1W')
round1_w

0.92234504
Baylor
0.8724796
Kentucky
0.89320433
Purdue
0.113508396
UCLA
0.41570774
St Mary's CA
0.74389285
Texas
0.51378846
Murray St
0.54290676
Marquette

{'Baylor': 'R1W1',
 'Kentucky': 'R1W2',
 'Purdue': 'R1W3',
 'UCLA': 'R1W4',
 "St Mary's CA": 'R1W5',
 'Texas': 'R1W6',
 'Murray St': 'R1W7',
 'Marquette': 'R1W8'}

# Region: W
# Round: 2

In [452]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round1_w]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(4)]
TeamID_Weak = [IDs[i] for i in reversed(range(4,8))]
TeamID_Strong, TeamID_Weak

[1124, 1246, 1345, 1417, 1388, 1400, 1293, 1266]

([1124, 1246, 1345, 1417], [1266, 1293, 1400, 1388])

In [453]:
round2_w = round_winners(TeamID_Strong,TeamID_Weak,'R2W')
round2_w

0.7721773000000001
Baylor
0.7457611
Kentucky
0.76024544
Purdue
0.43218905
UCLA

{'Baylor': 'R2W1', 'Kentucky': 'R2W2', 'Purdue': 'R2W3', 'UCLA': 'R2W4'}

# Region: W
# Round: 3

In [454]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round2_w]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(2)]
TeamID_Weak = [IDs[i] for i in reversed(range(2,4))]
TeamID_Strong, TeamID_Weak

[1124, 1246, 1345, 1417]

([1124, 1246], [1417, 1345])

In [455]:
round3_w = round_winners(TeamID_Strong,TeamID_Weak,'R3W')
round3_w

0.7609483
Baylor
0.49535704
Purdue

{'Baylor': 'R3W1', 'Purdue': 'R3W2'}

# Region: W
# Round: 4

In [456]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round3_w]
print(IDs)
TeamID_Strong = IDs[0]
TeamID_Weak = IDs[1]
TeamID_Strong, TeamID_Weak

[1124, 1345]

(1124, 1345)

In [457]:
rank_for_5_w = 'R4W1'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_w4 = winner
round4_w = {winner_w4,rank_for_5_w}
round4_w

0.5804069000000001
Baylor

{'Baylor', 'R4W1'}

# Region: X
# Round: 1

In [458]:
TeamID_Strong, TeamID_Weak = match_upID(8,16)
TeamID_Strong, TeamID_Weak

([1211, 1181, 1403, 1116, 1163, 1104, 1277, 1129],
 [1209, 1168, 1286, 1436, 1308, 1323, 1172, 1272])

In [459]:
round1_x = round_winners(TeamID_Strong,TeamID_Weak,'R1X')
round1_x

0.06594069
Gonzaga
0.090575956
Duke
0.08808288
Texas Tech
0.73326343
Arkansas
0.7495049
Connecticut
0.7450432
Alabama
0.31904137
Michigan St
0.5922069000000001
Boise St

{'Gonzaga': 'R1X1',
 'Duke': 'R1X2',
 'Texas Tech': 'R1X3',
 'Arkansas': 'R1X4',
 'Connecticut': 'R1X5',
 'Alabama': 'R1X6',
 'Michigan St': 'R1X7',
 'Boise St': 'R1X8'}

# Region: X
# Round: 2

In [460]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round1_x]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(4)]
TeamID_Weak = [IDs[i] for i in reversed(range(4,8))]
TeamID_Strong, TeamID_Weak

[1211, 1181, 1403, 1116, 1163, 1104, 1277, 1129]

([1211, 1181, 1403, 1116], [1129, 1277, 1104, 1163])

In [461]:
round2_x = round_winners(TeamID_Strong,TeamID_Weak,'R2X')
round2_x

0.16730592
Gonzaga
0.69673693
Duke
0.3896925
Texas Tech
0.4114656
Connecticut

{'Gonzaga': 'R2X1',
 'Duke': 'R2X2',
 'Texas Tech': 'R2X3',
 'Connecticut': 'R2X4'}

# Region: X
# Round: 3

In [462]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round2_x]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(2)]
TeamID_Weak = [IDs[i] for i in reversed(range(2,4))]
TeamID_Strong, TeamID_Weak

[1211, 1181, 1403, 1163]

([1211, 1181], [1163, 1403])

In [463]:
round3_x = round_winners(TeamID_Strong,TeamID_Weak,'R3X')
round3_x

0.2942706
Gonzaga
0.52727026
Duke

{'Gonzaga': 'R3X1', 'Duke': 'R3X2'}

# Region: X
# Round: 4

In [464]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round3_x]
print(IDs)
TeamID_Strong = IDs[0]
TeamID_Weak = IDs[1]
TeamID_Strong, TeamID_Weak

[1211, 1181]

(1211, 1181)

In [465]:
rank_for_5_x = 'R4X1'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_x4 = winner
round4_x = {winner_x4,rank_for_5_x}
round4_x

0.2878635
Gonzaga

{'Gonzaga', 'R4X1'}

# Region: Y
# Round: 1

In [466]:
TeamID_Strong, TeamID_Weak = match_upID(16,24)
TeamID_Strong, TeamID_Weak

([1242, 1120, 1458, 1344, 1234, 1261, 1425, 1361],
 [1394, 1240, 1159, 1355, 1350, 1235, 1274, 1166])

In [467]:
round1_y = round_winners(TeamID_Strong,TeamID_Weak,'R1Y')
round1_y

0.91250366
Kansas
0.92970693
Auburn
0.12282925
Wisconsin
0.7341482
Providence
0.72431934
Iowa
0.36820337
LSU
0.3885995
USC
0.35325155
San Diego St

{'Kansas': 'R1Y1',
 'Auburn': 'R1Y2',
 'Wisconsin': 'R1Y3',
 'Providence': 'R1Y4',
 'Iowa': 'R1Y5',
 'LSU': 'R1Y6',
 'USC': 'R1Y7',
 'San Diego St': 'R1Y8'}

# Region: Y
# Round: 2

In [468]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round1_y]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(4)]
TeamID_Weak = [IDs[i] for i in reversed(range(4,8))]
TeamID_Strong, TeamID_Weak

[1242, 1120, 1458, 1344, 1234, 1261, 1425, 1361]

([1242, 1120, 1458, 1344], [1361, 1425, 1261, 1234])

In [469]:
round2_y = round_winners(TeamID_Strong,TeamID_Weak,'R2Y')
round2_y

0.79960215
Kansas
0.8508146000000001
Auburn
0.47276309999999994
Wisconsin
0.42827514
Providence

{'Kansas': 'R2Y1', 'Auburn': 'R2Y2', 'Wisconsin': 'R2Y3', 'Providence': 'R2Y4'}

# Region: Y
# Round: 3

In [470]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round2_y]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(2)]
TeamID_Weak = [IDs[i] for i in reversed(range(2,4))]
TeamID_Strong, TeamID_Weak

[1242, 1120, 1458, 1344]

([1242, 1120], [1344, 1458])

In [471]:
round3_y = round_winners(TeamID_Strong,TeamID_Weak,'R3Y')
round3_y

0.7797833000000001
Kansas
0.733884
Auburn

{'Kansas': 'R3Y1', 'Auburn': 'R3Y2'}

# Region: Y
# Round: 4

In [472]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round3_y]
print(IDs)
TeamID_Strong = IDs[0]
TeamID_Weak = IDs[1]
TeamID_Strong, TeamID_Weak

[1242, 1120]

(1242, 1120)

In [473]:
rank_for_5_y = 'R4Y1'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_y4 = winner
round4_y = {winner_y4,rank_for_5_y}
round4_y

0.46755365
Kansas

{'Kansas', 'R4Y1'}

# Region: Z
# Round: 1

In [474]:
TeamID_Strong, TeamID_Weak = match_upID(24,32)
TeamID_Strong, TeamID_Weak

([1112, 1437, 1397, 1228, 1222, 1161, 1326, 1371],
 [1136, 1174, 1255, 1151, 1412, 1276, 1260, 1395])

In [475]:
round1_z = round_winners(TeamID_Strong,TeamID_Weak,'R1Z')
round1_z

0.88333344
Arizona
0.11098983
Villanova
0.11548576
Tennessee
0.16594388
Illinois
0.77801055
Houston
0.5855874
Colorado St
0.4427423
Ohio St
0.49629579999999995
TCU

{'Arizona': 'R1Z1',
 'Villanova': 'R1Z2',
 'Tennessee': 'R1Z3',
 'Illinois': 'R1Z4',
 'Houston': 'R1Z5',
 'Colorado St': 'R1Z6',
 'Ohio St': 'R1Z7',
 'TCU': 'R1Z8'}

# Region: Z
# Round: 2

In [476]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round1_z]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(4)]
TeamID_Weak = [IDs[i] for i in reversed(range(4,8))]
TeamID_Strong, TeamID_Weak

[1112, 1437, 1397, 1228, 1222, 1161, 1326, 1395]

([1112, 1437, 1397, 1228], [1395, 1326, 1161, 1222])

In [477]:
round2_z = round_winners(TeamID_Strong,TeamID_Weak,'R2Z')
round2_z

0.78051424
Arizona
0.36861387
Villanova
0.35452357
Tennessee
0.6410865
Houston

{'Arizona': 'R2Z1',
 'Villanova': 'R2Z2',
 'Tennessee': 'R2Z3',
 'Houston': 'R2Z4'}

# Region: Z
# Round: 3

In [478]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round2_z]
print(IDs)
TeamID_Strong = [IDs[i] for i in range(2)]
TeamID_Weak = [IDs[i] for i in reversed(range(2,4))]
TeamID_Strong, TeamID_Weak

[1112, 1437, 1397, 1222]

([1112, 1437], [1222, 1397])

In [479]:
round3_z = round_winners(TeamID_Strong,TeamID_Weak,'R3Z')
round3_z

0.62781143
Arizona
0.49916579999999994
Villanova

{'Arizona': 'R3Z1', 'Villanova': 'R3Z2'}

# Region: Z
# Round: 4

In [480]:
IDs = [df_teams.loc[df_teams.TeamName==key,'TeamID'].iloc[0] for key in round3_z]
print(IDs)
TeamID_Strong = IDs[0]
TeamID_Weak = IDs[1]
TeamID_Strong, TeamID_Weak

[1112, 1437]

(1112, 1437)

In [481]:
rank_for_5_z = 'R4Z1'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_z4 = winner
round4_z = {winner_z4,rank_for_5_z}
round4_z

0.49425578
Villanova

{'R4Z1', 'Villanova'}

# Region: W-X

In [482]:
TeamID_Strong = df_teams.loc[df_teams.TeamName==winner_w4,'TeamID'].iloc[0]
TeamID_Weak = df_teams.loc[df_teams.TeamName==winner_x4,'TeamID'].iloc[0]
TeamID_Strong, TeamID_Weak

(1124, 1211)

In [483]:
rank_for_ch_wx = 'R5WX'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_wx = winner
round5_wx = {winner_wx,rank_for_ch_wx}
round5_wx

0.3781771
Gonzaga

{'Gonzaga', 'R5WX'}

# Region: Y-Z

In [484]:
TeamID_Strong = df_teams.loc[df_teams.TeamName==winner_y4,'TeamID'].iloc[0]
TeamID_Weak = df_teams.loc[df_teams.TeamName==winner_z4,'TeamID'].iloc[0]
TeamID_Strong, TeamID_Weak

(1242, 1437)

In [485]:
rank_for_ch_yz = 'R5YZ'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_yz = winner
round5_yz = {winner_yz,rank_for_ch_yz}
round5_yz

0.5055451
Kansas

{'Kansas', 'R5YZ'}

# Championship

In [486]:
TeamID_Strong = df_teams.loc[df_teams.TeamName==winner_wx,'TeamID'].iloc[0]
TeamID_Weak = df_teams.loc[df_teams.TeamName==winner_yz,'TeamID'].iloc[0]
TeamID_Strong, TeamID_Weak

(1211, 1242)

In [487]:
rank_for_ch_yz = 'R6CH'
strong_id = TeamID_Strong
weak_id = TeamID_Weak
winner = winners(strong_id, weak_id)
winner_ch = winner
round6_ch = {winner_ch,rank_for_ch_yz}
round6_ch

0.44453818
Kansas

{'Kansas', 'R6CH'}

In [488]:
df_teams.loc[df_teams.TeamName=='Kansas','TeamID'].iloc[0]

1242

In [489]:
df_teams.loc[df_teams.TeamName=='Purdue','TeamID'].iloc[0]

1345

In [490]:
ID_tag = '2022_1242_1345'

In [491]:
df_pred[df_pred.ID==ID_tag]

                  ID      Pred
1392  2022_1242_1345  0.489427

In [492]:
df_teams.loc[df_teams.TeamName=='Michigan St','TeamID'].iloc[0]

1277

In [493]:
ID_tag2 = '2021_1140_1277'

In [620]:
df_pred[df_pred.ID==ID_tag2]

                 ID      Pred
351  2021_1140_1277  0.198284