In [1]:
import pandas as pd

In [49]:
predictions = pd.read_csv("submission.csv")
seeds = pd.read_csv("kaggle/input/march-machine-learning-mania-2023/MNCAATourneySeeds.csv")
teams = pd.read_csv("kaggle/input/march-machine-learning-mania-2023/MTeams.csv")

predictions[["Season", "TeamIDLow", "TeamIDHigh"]] = predictions["ID"].str.split("_", expand=True).astype(int)
predictions["ProbIDLowWin"] = predictions["Pred"]
predictions.drop(["ID", "Pred", "Season"], axis=1, inplace=True)

seeds = seeds[seeds["Season"] == 2023]
seeds.drop("Season", axis=1, inplace=True)

teams.drop(["FirstD1Season", "LastD1Season"], axis=1, inplace=True)

seeds = seeds.merge(teams, how="left", on="TeamID")

seeds_low = seeds.copy()
seeds_low.columns = [f"{name}Low" for name in seeds_low.columns]
seeds_high = seeds.copy()
seeds_high.columns = [f"{name}High" for name in seeds_high.columns]

predictions = predictions.merge(seeds_low, how="inner", on="TeamIDLow")
predictions = predictions.merge(seeds_high, how="inner", on="TeamIDHigh")

predictions.head()

,TeamIDLow,TeamIDHigh,ProbIDLowWin,SeedLow,TeamNameLow,SeedHigh,TeamNameHigh
0,1104,1112,0.638275,X01,Alabama,X02,Arizona
1,1104,1113,0.500000,X01,Alabama,Z11a,Arizona St
2,1112,1113,0.500000,X02,Arizona,Z11a,Arizona St
3,1104,1116,0.813497,X01,Alabama,Z08,Arkansas
4,1112,1116,0.711978,X02,Arizona,Z08,Arkansas

In [76]:
first_round = predictions[
    (predictions["SeedLow"].str[0] == predictions["SeedHigh"].str[0]) & 
    (predictions["SeedLow"].str[1:3].astype(int) == (17 - predictions["SeedHigh"].str[1:3].astype(int)))
].sort_values(["SeedLow", "TeamIDHigh"])
first_round.loc[first_round["ProbIDLowWin"] < 0.5, "Pick"] = first_round["TeamNameHigh"]
first_round.loc[first_round["ProbIDLowWin"] > 0.5, "Pick"] = first_round["TeamNameLow"]
first_round.loc[(first_round["ProbIDLowWin"] == 0.5) & (first_round["SeedLow"].str[1:3].astype(int) < first_round["SeedHigh"].str[1:3].astype(int)), "Pick"] = first_round["TeamNameLow"]
first_round.loc[(first_round["ProbIDLowWin"] == 0.5) & (first_round["SeedLow"].str[1:3].astype(int) > first_round["SeedHigh"].str[1:3].astype(int)), "Pick"] = first_round["TeamNameHigh"]

first_round

,TeamIDLow,TeamIDHigh,ProbIDLowWin,SeedLow,TeamNameLow,SeedHigh,TeamNameHigh,Pick
1643,1345,1411,0.977989,W01,Purdue,W16b,TX Southern,Purdue
2046,1266,1436,0.919188,W02,Marquette,W15,Vermont,Marquette
692,1243,1286,0.500000,W03,Kansas St,W14,Montana St,Kansas St
1765,1397,1418,0.500000,W04,Tennessee,W13,Louisiana,Tennessee
873,1181,1331,0.500000,W05,Duke,W12,Oral Roberts,Duke
1064,1246,1344,0.870311,W06,Kentucky,W11,Providence,Kentucky
1864,1277,1425,0.681650,W07,Michigan St,W10,USC,Michigan St
510,1194,1272,0.500000,W09,FL Atlantic,W08,Memphis,Memphis
1094,1192,1345,0.500000,W16a,F Dickinson,W01,Purdue,Purdue
1225,1104,1369,0.500000,X01,Alabama,X16a,SE Missouri St,Alabama
1326,1104,1394,0.955380,X01,Alabama,X16b,TAM C. Christi,Alabama
991,1112,1343,0.500000,X02,Arizona,X15,Princeton,Arizona
1181,1124,1364,0.500000,X03,Baylor,X14,UC Santa Barbara,Baylor
751,1166,1301,0.500000,X06,Creighton,X11,NC State,Creighton
1927,1281,1429,0.500000,X07,Missouri,X10,Utah St,Missouri
2176,1268,1452,0.500000,X08,Maryland,X09,West Virginia,Maryland
1135,1158,1361,0.500000,X12,Col Charleston,X05,San Diego St,San Diego St
2095,1202,1438,0.500000,X13,Furman,X04,Virginia,Virginia
721,1222,1297,0.500000,Y01,Houston,Y16,N Kentucky,Houston
399,1231,1245,0.500000,Y04,Indiana,Y13,Kent,Indiana
619,1235,1280,0.500000,Y06,Iowa St,Y11a,Mississippi St,Iowa St
970,1235,1338,0.500000,Y06,Iowa St,Y11b,Pittsburgh,Iowa St
257,1120,1234,0.410713,Y09,Auburn,Y08,Iowa,Iowa
1583,1336,1401,0.500000,Y10,Penn St,Y07,Texas A&M,Texas A&M
539,1179,1274,0.500000,Y12,Drake,Y05,Miami FL,Miami FL
2238,1244,1462,0.500000,Y14,Kennesaw,Y03,Xavier,Xavier
1493,1159,1400,0.064442,Y15,Colgate,Y02,Texas,Texas
1828,1417,1421,0.500000,Z02,UCLA,Z15,UNC Asheville,UCLA
152,1211,1213,0.500000,Z03,Gonzaga,Z14,Grand Canyon,Gonzaga
240,1163,1233,0.500000,Z04,Connecticut,Z13,Iona,Connecticut
2004,1388,1433,0.500000,Z05,St Mary's CA,Z12,VCU,St Mary's CA
193,1116,1228,0.557470,Z08,Arkansas,Z09,Illinois,Arkansas
826,1129,1321,0.500000,Z10,Boise St,Z07,Northwestern,Northwestern
1380,1113,1395,0.500000,Z11a,Arizona St,Z06,TCU,TCU
1418,1305,1395,0.500000,Z11b,Nevada,Z06,TCU,TCU
319,1224,1242,0.500000,Z16,Howard,Z01,Kansas,Kansas

In [115]:
ids = sorted([1222 , 1345])
predictions[(predictions["TeamIDLow"] == ids[0]) & (predictions["TeamIDHigh"] == ids[1])]

,TeamIDLow,TeamIDHigh,ProbIDLowWin,SeedLow,TeamNameLow,SeedHigh,TeamNameHigh
1099,1222,1345,0.63818,Y01,Houston,W01,Purdue