In [1]:
import os
import pandas as pd

In [8]:
os.listdir('../../data/raw/')

['MEvents2019.csv',
 'MDataFiles_Stage2',
 'MPlayByPlay_Stage2',
 'MPlayers.csv',
 'MEvents2018.csv',
 'MEvents2017.csv',
 'MSampleSubmissionStage1_2020.csv',
 'MEvents2015.csv',
 'MDataFiles_Stage1',
 '.gitkeep',
 'MEvents2016.csv',
 '.ipynb_checkpoints']

In [11]:
pd.read_csv('../../data/raw/MEvents2015.csv')

,EventID,Season,DayNum,WTeamID,LTeamID,WFinalScore,LFinalScore,WCurrentScore,LCurrentScore,ElapsedSeconds,EventTeamID,EventPlayerID,EventType,EventSubType,X,Y,Area
0,1,2015,11,1103,1420,74,57,0,0,19,1103,100,miss3,unk,0,0,0
1,2,2015,11,1103,1420,74,57,0,0,19,1420,11784,reb,def,0,0,0
2,3,2015,11,1103,1420,74,57,0,0,27,1420,11789,made2,dunk,0,0,0
3,4,2015,11,1103,1420,74,57,0,0,27,1420,11803,assist,NaN,0,0,0
4,5,2015,11,1103,1420,74,57,0,0,59,1103,87,made2,jump,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2560820,2560821,2015,152,1458,1246,71,64,0,0,2396,1458,13067,made1,unk,0,0,0
2560821,2560822,2015,152,1458,1246,71,64,0,0,2396,1246,5275,sub,in,0,0,0
2560822,2560823,2015,152,1458,1246,71,64,0,0,2396,1246,5288,sub,out,0,0,0
2560823,2560824,2015,152,1458,1246,71,64,0,0,2399,1246,5290,miss3,unk,0,0,0
2560824,2560825,2015,152,1458,1246,71,64,0,0,2399,1458,13060,reb,def,0,0,0

In [9]:
os.listdir('../../data/raw/MDataFiles_Stage1/')

['MSeasons.csv',
 'MConferenceTourneyGames.csv',
 'MSecondaryTourneyCompactResults.csv',
 'MRegularSeasonDetailedResults.csv',
 'MTeams.csv',
 'MSecondaryTourneyTeams.csv',
 'MNCAATourneyCompactResults.csv',
 'MRegularSeasonCompactResults.csv',
 'MMasseyOrdinals.csv',
 'MTeamCoaches.csv',
 'Conferences.csv',
 'MNCAATourneySeeds.csv',
 'MNCAATourneyDetailedResults.csv',
 'MNCAATourneySeedRoundSlots.csv',
 'MTeamConferences.csv',
 'MGameCities.csv',
 'Cities.csv',
 'MTeamSpellings.csv',
 'MNCAATourneySlots.csv']

In [10]:
pd.read_csv('../../data/raw/MDataFiles_Stage1/Cities.csv')

     CityID           City State
0      4001        Abilene    TX
1      4002          Akron    OH
2      4003         Albany    NY
3      4004    Albuquerque    NM
4      4005      Allentown    PA
..      ...            ...   ...
430    4453      La Crosse    WI
431    4454           Maui    HI
432    4455    West Orange    NJ
433    4456   White Plains    NY
434    4457  Winter Garden    FL

[435 rows x 3 columns]